@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.scrollbar-track-rounded::-webkit-scrollbar-track {
  border-radius: 999px;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 999px;
}

.banner {
  background-image: linear-gradient(
      135deg,
      transparent 0%,
      transparent 1%,
      rgba(13, 90, 227, 0.5) 1%,
      rgba(13, 90, 227, 0.5) 34%,
      transparent 34%,
      transparent 73%,
      rgba(39, 220, 232, 0.5) 73%,
      rgba(39, 220, 232, 0.5) 100%
    ),
    linear-gradient(45deg, rgb(13, 90, 227) 0%, rgb(13, 90, 227) 62%, rgb(20, 123, 228) 62%, rgb(20, 123, 228) 100%);
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.6);
  font-size: 16px !important;
}

/* REACT MULTI SELECT  */
html[class='dark'] {
  --bg-react-select-control: #171717;
  --bg-react-select-menu: #1f1f1f;
  --bg-react-select-option-hover: #262626;
  --text-react-select-option: white;
  --react-select-indicator: #d1d5db;
  --react-select-border: #404040;
}

html {
  --bg-react-select-control: white;
  --bg-react-select-menu: white;
  --bg-react-select-option-hover: #f3f4f6;
  --text-react-select-option: #171717;
  --react-select-indicator: #737373;
  --react-select-border: #e5e7eb;
}

.react-select__input:focus {
  box-shadow: none !important;
  color: var(--text-react-select-option) !important;
}

.react-select__control {
  background-color: var(--bg-react-select-control) !important;
  border-color: var(--react-select-border) !important ;
  cursor: pointer !important;
}

.react-select__control--is-focused {
  @apply !outline-none !ring-2 !ring-sky-600;
}

.react-select__multi-value {
  background-color: #0ea5e9 !important;
  border-radius: 4px !important;
  margin-right: 4px !important;
  color: white !important;
}

.react-select__multi-value__label {
  color: white !important;
}

.react-select__indicator {
  color: var(--react-select-indicator) !important;
}

.react-select__menu {
  background-color: var(--bg-react-select-menu) !important;
  cursor: pointer !important;
  color: var(--text-react-select-option);
  border: none;
}

.react-select__option:hover {
  color: white;
}

.react-select__option--is-focused {
  color: white !important;
}
